.product-page-container {
  display: flex;
  padding-top:90px;
}
.product-photo-container {
  flex: 1;
  width: 100%;
}
.product-photo {
  width: 80%;
  height: auto;
}
.product-details-container {
  padding: 20px;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-right: 50px;
}
.product-name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.rental-price{
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.product-description-title{
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-description{
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description-div{
  margin-bottom: 15px;
}
.slider{
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slider label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.slider step{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}