.section-image{
    width: 435px;
    height: 452.5px;
}
.first-section{
    display: flex;
    padding: 107px 160px;
    align-items: center;
    gap: 116px;
    align-self: stretch;
    background: var(--neutral-silver, #F5F7FA);
}
.register-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    flex: 1 0 0;
}
.main-h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 71px;
    font-style: normal;
    font-weight: 600;
    line-height: 85px;
    display: flex;
    align-items: center;
  }
  
  .black-text {
    color: #000000;
  }
  
  .green-text {
    color: #4CAF4F;
    margin-left: -3px;
  }
.register-button{
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border-radius: 4.5px;
    background: var(--brand-primary, #4CAF4F);
}
.title-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}
.title{
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.222%;
}
.third-section{
    display: flex;
    padding: 0px 160px;
    justify-content: space-between;
    align-items: center;
}
.first-square{
    display: flex;
    width: 332.5px;
    padding: 27px 36px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
}
.first-icon{
    display: flex;
    padding: 0px 19px 9px 0px;
    align-items: center;
    width: 125px;
    height: auto;
}
.first-title{
    align-self: stretch;
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19.49px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.5%;
}
.first-text{
    width: 279px;
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
}
.second-square{
    display: flex;
    width: 332.5px;
    padding: 27px 36px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
}
.second-icon{
    display: flex;
    padding: 0px 19px 9px 0px;
    align-items: center;
    width: 124px;
    height: auto;
}
.second-title{
    align-self: stretch;
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19.49px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.5%;
}
.second-text{
    width: 279px;
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
}
.third-square{
    display: flex;
    width: 332.5px;
    padding: 27px 36px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
}
.third-icon{
    display: flex;
    padding: 0px 19px 9px 0px;
    align-items: center;
    width: 120px;
    height: auto;
}
.third-title{
    align-self: stretch;
    color: var(--neutral-d-grey, #4D4D4D);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19.49px;
    font-style: normal;
    font-weight: 700;
    line-height: 128.5%;
}
.third-text{
    width: 279px;
    color: var(--neutral-grey, #717171);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
}
.second-section{
    margin-top: 30px;
    margin-bottom: 30px;
}